<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e29fb444-cf54-4c77-b0be-021157ab3040" name="Generic" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e29fb444-cf54-4c77-b0be-021157ab3040fileName">Generic</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
