<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6c329292-99d2-415c-8a84-74d278234480" name="runTestCase" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6c329292-99d2-415c-8a84-74d278234480fileName">runTestCase</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
